@font-face {
  font-family: "Sneakers";
  src: url(../fonts/Sneakers.ttf);
}

@font-face {
  font-family: "Polers Free";
  src: url(../fonts/Polers-Free.ttf);
}

@font-face {
  font-family: "Profession-Regular";
  src: url(../fonts/Profession-Regular.ttf);
}

@font-face {
  font-family: "centaur";
  src: url(../fonts/centaur.ttf);
}

body {
  margin: 0px;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EA3C3C;
  color: #FFFFFF;
  height: 65px;
  border-top: #000000 30px solid;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo1 {
  font-family: "Sneakers";
  font-size: 60px;
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 2px;
}

.name1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Polers Free";
  font-size: 50px;
  padding-right: 20px;
}

.blanc {
  background-color: #FFFFFF;
}

/*nav*/
nav {
  background-color: #dad8d8;
  font-family: "centaur";
  font-size: 22px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.image3 {
  width: 100%;
  height: auto;
  margin-bottom: -4px;
}

/*barre de navigation*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eb8585;
  width: 100%;
}

.menu {
  margin: 0 30px 0 0;
  text-align: center;
  width: 100%;
  display: none;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "centaur";
  margin: 0 5%;
  clear: left;
  float: right;
}

label {
  margin-left: 5px;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  width: 26px;
  float: left;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/*video*/
.video {
  background-color: #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.video iframe {
  margin: 0.33%;
}

.video p {
  font-family: "centaur";
  font-size: 28px;
}

.image4 {
  height: auto;
  width: 40%;
}

.endpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*articles*/
.article1 {
  height: 430px;
  width: 96%;
  background-color: #dad8d8;
  color: #000000;
  text-align: center;
  margin-top: -18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-family: "centaur";
}

.article1 p {
  margin-top: 5px;
  text-align: left;
}

.article, h2 {
  font-weight: lighter;
}

.article2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9c9c9c;
  color: #000000;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -3px;
  height: 195px;
  margin-left: 2%;
  margin-right: 2%;
}

.baskets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.baskets .gauche,
.baskets .droite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.baskets p {
  margin-top: 5px;
}

.section2 {
  background-color: #dad8d8;
}

.image1 {
  width: 338px;
  height: 236px;
}

.image2 {
  width: 130px;
  height: 90px;
}

/*article ipad*/
.backgroundipad {
  background-color: #FFFFFF;
}

/*partie Actu*/
.actualites2 {
  background-color: #dad8d8;
  border: 4px solid #FFFFFF;
  font-family: "centaur";
}

.actualites2 .news1 {
  padding-left: 10px;
}

.actualites2 h2 {
  text-align: center;
  font-size: 30px;
}

.actualites2 p, .actualites2 h3 {
  text-align: left;
}

.actualites2, .news1, .news1image {
  text-align: center;
}

.actualites2 .news2 {
  padding-left: 10px;
}

/*Partie sortie*/
.sortie2 {
  background-color: #9c9c9c;
  border-right: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  margin-top: -22px;
  margin-bottom: -5px;
  font-family: "centaur";
}

.actu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sortie2 .actu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sortie2 .partie1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sortie2 .partie1 .sortie21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sortie2 .partie2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
}

.sortie2 .partie2 .sortie23 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sortie2 h2 {
  text-align: center;
  font-size: "centaur";
}

.sortie2 .actu #img1 {
  margin-left: 30px;
  margin-bottom: 10px;
}

.sortie2 .actu #img4 {
  margin-left: 52px;
  margin-bottom: 10px;
}

.sortie2 h3 {
  margin-left: 10px;
}

/*footer*/
footer {
  height: 65px;
  width: 100%;
  background-color: #EA3C3C;
  text-align: center;
}

footer p {
  text-transform: uppercase;
  margin-top: 10px;
  color: #FFFFFF;
  font-family: "Profession-Regular";
  text-align: center;
  font-size: 18px;
}

p {
  font-family: centaur;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

h2 {
  font-family: centaur;
  font-size: 28px;
}

.article2 h2 {
  font-family: centaur;
  font-size: 28px;
  margin-top: 5px;
}

.titre2 {
  font-family: "Profession-Regular";
}

/*media queries*/
@media only screen and (max-width: 650px) {
  nav, .video, .image3, .actualites2, .sortie2 {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu a:hover {
    color: black;
  }
  #toggle:checked + .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 651px) and (max-width: 960px) {
  nav, .video, .image3, .article1, .article2 {
    display: none;
  }
  header {
    border-top: #000000 0px solid;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 961px) {
  .article1, .article2, .actualites2, .sortie2, .navigation {
    display: none;
  }
  /*header*/
  header {
    border-top: #000000 0px solid;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo1 {
    font-size: 90px;
  }
  .name1 {
    font-size: 85px;
  }
  /*footer*/
  footer {
    margin-top: -10px;
  }
}
/*# sourceMappingURL=styles.css.map */