.container {
    height: 812px;
    width: 375px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EA3C3C;
    color: #FFFFFF;
    height: 65px;
    font-family: sneakers;
    border-top: black 30px solid;
}

.logo1 {
    font-family: sneakers;
    font-size: 60px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 0;
}

.name1 {
    font-family: polers free;
    margin-right: 120px;
    font-size: 50px;
    margin-top: 6px
}

.blanc {
    background-color: white;
}

.article1 {
    height: 430px;
    width: 357px;
    background-color: #D6CECE;
    color: #383131;
    text-align: center;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
}

.article2 {
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    color:#383131;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 195px;
    width: 357px;
    margin-left: auto;
    margin-right: auto; 
}

.baskets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.baskets .gauche,
.baskets .droite {
    display: flex;
    flex-direction: column;
}

.baskets p {
    margin-top: 5px;
}

.section2 {
    background-color: #D6CECE;
}

.image1 {
    width: 338px;
    height: 236px;
}

.image2 {
    width: 130px;
    height: 90px;
}


footer {
    height: 65px;
    width: 375px;
    background-color: #EA3C3C;
    text-align: center;
 
}

footer p {
    text-transform: uppercase;
    margin-top: 10px;
    color: #FFFFFF;
    font-family: profession;
    font-size: 18px;
}

h2 h3 p {
    font-family: Impact;
}

.titre2 {
    font-family: profession;
}