$color-red: #EA3C3C;
$color-nav: rgb(235, 133, 133);
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: rgb(218, 216, 216);
$color-grey2: rgb(156, 156, 156);


@font-face{
    font-family: "Sneakers";
    src: url(../fonts/Sneakers.ttf);
}
@font-face{
    font-family: "Polers Free";
    src: url(../fonts/Polers-Free.ttf);
}
@font-face{
    font-family: "Profession-Regular";
    src: url(../fonts/Profession-Regular.ttf);
}
@font-face{
    font-family: "centaur";
    src: url(../fonts/centaur.ttf);
}

body {
    margin: 0px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-red;
    color: $color-white;
    height: 65px;
    border-top: $color-black 30px solid;
}

a {
    text-decoration: none;
    color: $color-black;
}

.logo1 {
    font-family: "Sneakers";
    font-size: 60px;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 2px;
}

.name1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: "Polers Free";
    font-size: 50px;
    padding-right: 20px;
    
}

.blanc {
    background-color: $color-white;
}

/*nav*/

nav {
    background-color: $color-grey;
    font-family: "centaur";
    font-size: 22px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.image3 {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

/*barre de navigation*/

.navigation {
    background-color: $color-nav;
    // border-bottom: 1px solid $color-red;
    height: 80px;
    line-height: 40px;
    width: 100%;
}

.menu {
    margin: 0 30px 0 0;
    text-align: center;
    width: 100%;
    display: none;
}

.menu a {
    text-decoration: none;
    color: $color-white;
    font-family: "centaur";
    margin: 0 5%;
    // line-height: 40px;
    // display: block;
    // border: 1px solid $color-red;
    // margin: 5%;
    clear: left;
    float: right;
    // justify-content: space-between;
    // position: relative;
}

label {
    margin-left: 5px;
    font-size: 20px;
    color: $color-white;
    display: block;
    cursor: pointer;
    width: 26px;
    float: left;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display:block;
 }


/*video*/
.video {
    background-color: $color-grey2;
    display: flex;
    flex-direction: row;
    width: 100%;   
}

.video iframe {
    margin: 0.33%;
    // height: 250px;
    // width: 700px;
}

.video p {
    font-family: "centaur";
    font-size: 28px;
}

.image4 {
    height: auto;
    width: 40%;
}

.endpart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*articles*/
.article1 {
    height: 430px;
    width: 96%;
    background-color: $color-grey;
    color: $color-black;
    text-align: center;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-family: "centaur";
}

.article1 p {
    margin-top: 5px;
    text-align: left;
}

.article, h2 {
    font-weight: lighter;
}

.article2 {
    display: flex;
    flex-direction: column;
    background-color: $color-grey2;
    color: $color-black;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 195px;
    margin-left: 2%;
    margin-right: 2%; 
}

.baskets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.baskets .gauche,
.baskets .droite {
    display: flex;
    flex-direction: column;
}

.baskets p {
    margin-top: 5px;
}

.section2 {
    background-color: $color-grey;
}

.image1 {
    width: 338px;
    height: 236px;
}

.image2 {
    width: 130px;
    height: 90px;
}

/*footer*/
footer {
    height: 65px;
    width: 100%;
    background-color: $color-red;
    text-align: center;
 
}

footer p {
    text-transform: uppercase;
    margin-top: 10px;
    color: $color-white;
    font-family: "Profession-Regular";
    text-align: center;
    font-size: 18px;
}

p {
    font-family: centaur;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

h2 {
    font-family: centaur;
    font-size: 28px;
}

.article2 h2 {
    font-family: centaur;
    font-size: 28px;
    margin-top: 5px;
}

.titre2 {
    font-family: "Profession-Regular";
}

/*media queries*/
@media only screen and (max-width:400px) {
    nav {
        display: none;
    }

    .video {
        display: none;
    }

    .image3 {
        display: none;
    }
}

@media screen and (min-width: 401px) and (max-width: 960px) {
    nav {
        display: none;
    }

    .video {
        display: none;
    }

    .image3 {
        display: none;
    }   

    header {
        border-top: $color-black 0px solid;
        height:80px;
        justify-content: center;
    }

    .article1 {
        display: none;
    }

    .article2 {
        display: none;
    }


}


@media only screen and (min-width:961px) {
    body {
        height:100%;
    }

    .navigation {
        display: none;
    }
    


   /*header*/
    header {
        border-top: $color-black 0px solid;
        height:100px;
        justify-content: center;
    }

    .logo1 {
        font-size:90px;
    }

    .name1 {
        font-size: 85px;
    }

    .article1 {
        display: none;
    }

    .article2 {
        display: none;
    }


}