$color-red: #EA3C3C;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: rgb(218, 216, 216);
$color-grey2: rgb(156, 156, 156);


@font-face{
    font-family: "Sneakers";
    src: url(../fonts/Sneakers.ttf);
}
@font-face{
    font-family: "Polers Free";
    src: url(../fonts/Polers-Free.ttf);
}
@font-face{
    font-family: "Profession-Regular";
    src: url(../fonts/Profession-Regular.ttf);
}

body {
    margin: 0px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-red;
    color: $color-white;
    height: 65px;
    border-top: $color-black 30px solid;
}

a {
    text-decoration: none;
    color: $color-black;
}

.logo1 {
    font-family: "Sneakers";
    font-size: 60px;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 2px;
}

.name1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: "Polers Free";
    font-size: 50px;
    padding-right: 20px;
    
}

.blanc {
    background-color: $color-white;
}

/*nav*/

nav {
    background-color: $color-grey2;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.image3 {
    width: 100%;
    height: auto;
}

/*articles*/
.article1 {
    height: 430px;
    width: 96%;
    background-color: $color-grey;
    color: #383131;
    text-align: center;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.article2 {
    display: flex;
    flex-direction: column;
    background-color: $color-grey2;
    color:#383131;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 195px;
    margin-left: 2%;
    margin-right: 2%; 
}

.baskets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.baskets .gauche,
.baskets .droite {
    display: flex;
    flex-direction: column;
}

.baskets p {
    margin-top: 5px;
}

.section2 {
    background-color: $color-grey;
}

.image1 {
    width: 338px;
    height: 236px;
}

.image2 {
    width: 130px;
    height: 90px;
}

/*footer*/
footer {
    height: 65px;
    width: 100%;
    background-color: $color-red;
    text-align: center;
 
}

footer p {
    text-transform: uppercase;
    margin-top: 10px;
    color: $color-white;
    font-family: "Profession-Regular";
    text-align: center;
    font-size: 18px;
}

p {
    font-family: centaur;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

h2 {
    font-family: centaur;
    font-size: 28px;
}

.article2 h2 {
    font-family: centaur;
    font-size: 28px;
    margin-top: 5px;
}

.titre2 {
    font-family: "Profession-Regular";
}

/*media queries*/
@media only screen and (max-width:900px) {
    nav {
        display: none;
    }

    .video iframe {
        display: none;
    }
    
    .image3 {
        display: none;
    }

    
}

@media only screen and (min-width:901px) {
    body {
        height:100%;
    }
   /*header*/
    header {
        border-top: $color-black 0px solid;
        height:100px;
        justify-content: center;
    }

    .logo1 {
        font-size:90px;
    }

    .name1 {
        font-size: 85px;
    }

    .article1 {
        display: none;
    }

    .article2 {
        display: none;
    }

    footer {
        margin-top: -4px;
    }
}